@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: 'Inter', system-ui, sans-serif;
  }
}
